
{% extends 'layout.html' %}

{% block title %}Todo{% endblock %}

{% block head %}
  <link rel="stylesheet" href="css/todos.css">
{% endblock %}

{% block content %}
<div class="container" style="text-align: center;">
    <div><h3>{{ date }}</h3></div>
    <div><h4>Профіль : {{ event_name }}</h4></div>
    <br />
    <div class="row" id="notes">
        {% for note in notes %}
        <div class="note_item">
            <a href="" class="center" class="TodoItem">{{ note.text }}</a><span class="glyphicon glyphicon-remove removeTask" aria-hidden="true"></span>
        </div>
        {% endfor %}
    </div>
    <div class="row" >
        <br />
        <input type="text" id="new_note_item">
    </div>
    <div class="row">
        <br />
        <button class="btn  btn-primary" id="addTaskButton">Add Task</button>
    </div>
    <div class="row" id="errorText">

    </div>
</div>

{% endblock %}


{% block body_end %}
<script src="js/todos.js"></script>
{% endblock %}