
{% extends 'layout.html' %}

{% block title %}Todo{% endblock %}

{% block head %}
  <link rel="stylesheet" href="css/todos.css">
{% endblock %}

{% block content %}
<div class="container" style="text-align: center;">
    <div><h3>30 жовтня</h3></div>
    <div><h4>Профіль : зустрічі</h4></div>
    <br />
    <div class="row" id="notes">
        <div>
            <a href="#1" class="center">Get Here</a><span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
        </div>
        <div>
            <a href="#2" class="center">Get There</a><span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
        </div>

    </div>
    <div class="row" >
        <br />
        <input type="text">
    </div>
    <div class="row">
        <br />
        <button class="btn  btn-primary">Add Task</button>
    </div>
</div>

{% endblock %}


{% block body_end %}
<script src="js/todos.js"></script>
{% endblock %}