
/* GENERAL STYLES */
body {
    font-family: Verdana;
    background-color: #EAEAEA;
}

/* USER PROFILE STYLES */

    .user-wrapper .btn {
        border-radius: 0px;
        -webkit-border-radius: 0px;
        -moz-border-radius: 0px;
        margin: 5px;
    }

    .user-wrapper .description {
        padding: 25px;
        background-color: #fff;
    }
    .user-wrapper img {
        width:100%;
    }

.glyphicon {
    visibility:hidden;
}

.list-group-item:hover .glyphicon{
    visibility:visible;
}
